{% load usd %} <!--usd is a filename -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Defined</title>
</head>
<body>
    <center>
        <h2>User Defined</h2>

        <h2>{{data}}</h2>
        <h2>{{data|swapping}}</h2>
        <h2>{{data|splitting:'i'}}</h2>
        <h2>{{data|count:'i'}}</h2>
        <h2>{{data|isalpha}}</h2>
        <h2>{{data|length}}</h2>
        <h2>{{data|splice:'2,5,1'}}</h2>

    </center>
</body>
</html>